
<h1> People </h1>

<h3>Age</h3>
<%= @person.age %>

<h3>Gender</h3>
<%= @person.gender %>

<h3>Alive</h3>
<%= @person.alive %>

<h3>Eye Color</h3>
<%= @person.eye_color %>

<br/>
<br/>

<%= link_to 'People', people_path %>
